#clock {
    margin-top: 5px;
}

#clockLabel {
    display: inline-block;
    border-radius: 20px 0px 0px 20px;
    background-color: burlywood;
    padding: 5px 10px 5px 10px;
}

#clockTime {
    display: inline-block;
    border-radius: 0px 20px 20px 0px;
    background-color: orange;
    padding: 5px 10px 5px 10px;
}