#timeDisplay {
    text-align: center;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.5);
    font-family: MONOSPACE;
    padding: 5px 0px 5px 0px;
}

.absent {
    background-color: rgba(255, 0, 0, 0.5);
}
  
.halfday {
    background-color: rgba(255, 165, 0, 0.5);
}
  
.fullday {
    background-color: rgba(0, 255, 0, 0.5);
}
  
.compoff {
    background-color: rgba(0, 0, 255, 0.5);
}
  
.fullday_compoff {
    background-color: rgba(0, 0, 255, 0.5);
}
  
.absent::after {
    content: " - Absent"
}
  
.halfday::after {
    content: " - Half Day"
}
  
.fullday::after {
    content: " - Full Day"
}
  
.compoff::after {
    content: " - Full Day + Half Day Compoff"
}
  
.fullday_compoff::after {
    content: " - Full Day Compoff"
}