body {
  background-color: antiquewhite;
  font-family: monospace;
}

h1 {
  text-align: center;
  background-color: red;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-family: MONOSPACE;
  padding: 5px 0px 5px 0px;
}

#textarea {
  resize: none;
  width: 40%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

#dataTable {
  width: 40%;
  height: 100%;
  overflow-y: auto;
  box-sizing: boder-box;
  display: inline-block;
  margin-left: 20px;
}

#clock {
  margin-top: 5px;
}

#clockLabel {
  display: inline-block;
  border-radius: 20px 0px 0px 20px;
  background-color: burlywood;
  padding: 5px 10px 5px 10px;
}

#clockTime {
  display: inline-block;
  border-radius: 0px 20px 20px 0px;
  background-color: orange;
  padding: 5px 10px 5px 10px;
}

#dayTypeContainer {
  display: block;
  text-align: center;
  margin: 10px auto 0px auto;
}

#dayTypeLabel {
  margin: 10px;
}

.warning {
  text-align: center;
  background-color: rgba(255, 255, 0, 0.5);
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.radioContainer {
  display: inline-block;
  width: 50%;
  text-align: center;
  cursor: default;
}

.button {
  width: 50%;
}

.absent {
  background-color: rgba(255, 0, 0, 0.5);
}

.halfday {
  background-color: rgba(255, 165, 0, 0.5);
}

.fullday {
  background-color: rgba(0, 255, 0, 0.5);
}

.compoff {
  background-color: rgba(0, 0, 255, 0.5);
}

.fullday-compoff {
  background-color: rgba(0, 0, 255, 0.5);
}

.absent::after {
  content: " - Absent"
}

.halfday::after {
  content: " - Half Day"
}

.fullday::after {
  content: " - Full Day"
}

.compoff::after {
  content: " - Full Day + Half Day Compoff"
}

.fullday-compoff::after {
  content: " - Full Day Compoff"
}